#topbar {
    background-color: #1f2e3d67;
}

#topbar img{
    width: 60px;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background:	#b4e282;
}
table,tr,td{
    background-color: #c6e99f;
}
.big {
    font-size: 50px;
}

.notTooBig {
    max-width: 450px;
}

#first {
    text-align: center;
    font-size: 150%;
    text-emphasis: 100%;
}

.goRight {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

span {
    font-size: 100%;
}

a{
    color: black;
}

.progress{
    margin: 1%;
}

h1,h2,h4{
    margin:0%;
    padding:0%;
    text-align: center;
}

h1{
    font-size:300%;
}
h2{
    font-size: 200%;
}
h4{
    font-size: 100%;
    padding:5%;
}
input {
    font-size: 150%;
    height: 60%;
}
table, th, td {
    font-size:125%;
    border: 1px solid black;
    width: 100%;
    padding:1%;
    background-color: #c6e99f;
}
table tr td h4{
    padding:1%;
    font-size: 120%;
}
.fixed-bottom{
    background-color: #feffe9;
}