body {
    background-color: #3f5f7e;
}

h1 {
    font-size: 200%;
    text-align: center;
}

h2 {
    font-size: 100%;
    text-align: center;
}

h4 {
    font-size: 100%;
    padding: 5%;
}

table,th,td {
    border: 1px solid black;
    width: 100%;
}

input {
    font-size: 60%;
    height: 60%;
}

button {
    text-align: center;
    font-size: 150%;
    background-color: rgb(100, 101, 196);
    margin: 0 auto;
    display: block;
}

select {
    font-size: 90%;
}

.big {
    font-size: 50px;
}

input {
    font-size: 150%;
}